{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<h1>Dashboard</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projects</h5>
                <p class="display-6">{{ projectsCount }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tasks</h5>
                <p class="display-6">{{ tasksCount }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Open tasks</h5>
                <p class="display-6">{{ openTasks }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
